
# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
dist
.cache
node_modules

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react
contracts/.openzeppelin/.session

contracts/.openzeppelin/dev-*
contracts/build
build

.secrets*.json
.env.*